/* Universal Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/overlay.png"),
        linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

.container {
    padding: 0px 85px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

hr {
    width: 90%;
    margin: 0 auto;
    color: #dddddd;
}

.heading {
    color: #636363;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: -0.025em;
}

p {
    font-weight: 300;
    line-height: 1.65;
}

.btn {
    padding: 13px 40px;
    text-decoration: none;
    color: #636363;
    border: 1px solid #636363;
    display: inline-block;
    margin-top: 15px;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(99, 99, 99, 0.1);
}

/* Start intro css */
.intro {
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h1 {
    font-size: 50px;
    font-weight: 100;
    color: white;
    margin-top: 25px;
}

.intro p {
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-top: 25px;
}

.intro p a {
    text-decoration: underline dotted;
    color: white;
}

.intro p a:hover {
    text-decoration: none;
}

/* Start head css */
.head {
    height: 530px;
    display: flex;
    align-items: center;
}

.head-text h1 {
    padding: 25px 0;
}

.head-img img {
    border-radius: 100%;
    border: 1px solid #636363;
    padding: 15px;
}

/* Magna Start */
.magna p {
    text-align: center;
    padding: 20px 0 60px 0;
}

.magna-head h1 {
    text-align: center;
    padding: 90px 0 50px 0;
}

.magna-icons {
    display: flex;
    margin: 0 70px;
    text-align: center;
}

.magna-icons h4 {
    font-size: 1.25em;
    color: #636363;
    font-weight: 300;
    padding-bottom: 20px;
}

.magna-icons p {
    width: 90%;
    line-height: 30px;
    padding-left: 30px;
}

.magna-one i {
    font-size: 80px;
    border: solid 1px;
    color: #efa8b0;
    border-color: #dddddd;
    border-radius: 100%;
    padding: 0.65em;
    outline: 1px solid #dddddd;
    outline-offset: -15px;
    margin-bottom: 35px;
}

.magna-two i {
    font-size: 80px;
    border: solid 1px;
    color: #a89cc8;
    border-color: #dddddd;
    border-radius: 100%;
    padding: 0.65em;
    outline: 1px solid #dddddd;
    outline-offset: -15px;
    margin-bottom: 35px;
}

.magna-three i {
    font-size: 80px;
    border: solid 1px;
    color: #8cc9f0;
    border-color: #dddddd;
    border-radius: 100%;
    padding: 0.65em;
    outline: 1px solid #dddddd;
    outline-offset: -15px;
    margin-bottom: 35px;
}

/* Start portfolio */
.portfolio-header h1 {
    text-align: center;
    padding: 80px 0;
}

.portfolio-header p {
    text-align: center;
    font-size: 1.25em;
    width: 70%;
    margin: 0 auto;
}

.port-icons {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 45px;
}

.port-icons i {
    font-size: 45px;
}

.port-icon-one {
    background-color: #efa8b0;
    text-align: center;
    padding: 45px 60px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.port-icon-two {
    background-color: #c79cc8;
    text-align: center;
    padding: 45px 60px;
}

.port-icon-three {
    background-color: #a89cc8;
    text-align: center;
    padding: 45px 60px;
}

.port-icon-four {
    background-color: #9bb2e1;
    text-align: center;
    padding: 45px 60px;
}

.port-icon-five {
    text-align: center;
    background-color: #8cc9f0;
    padding: 45px 60px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

p.desc {
    columns: 2;
    column-gap: 80px;
    font-size: 18px;
    line-height: 35px;
    color: #636363;
    padding: 25px 0;
}

/* Start Footer */

.foot-button {
    text-align: center;
}

.foot-button h1 {
    padding: 80px 0;
}

.foot-button p {
    width: 50%;
    margin: 0 auto;
    font-size: 19px;
    padding-bottom: 50px;
}

.btn-one {
    padding: 13px 40px;
    text-decoration: none;
    background-color: #8cc9f0;
    color: #ffffff;
    border: 1px solid #8cc9f0;
    display: inline-block;
    margin-top: 15px;
    border-radius: 10px;
    margin-right: 20px;
}